body {
  color: #ffffff;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: center;
}

.nadpis {
  font-family: 'Lobster', cursive;
  text-align: center;
  line-height: 0;
  margin: 30px 0 10px 0;
  font-weight: normal;
}
/* Index */

.opiskvorkach {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  border-radius: 10px 10px 0px 0px;
  line-height: 20px;
  width: 250px;
  font-size: 14px;
}
.obrazek {
  border-radius: 10px 10px 0px 0px;
  display: block;
  width: 100%;
}

.popis {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 20px;
  line-height: 25px;
}

/* Tlačítka */

.odkazy {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  width: 100%;
}

.odkazy a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  align-items: center;
  color: #ffffff;
  padding: 15px 0 15px 0;
}
.odkazy li {
  border-top: 1px solid #283e50;
  width: 100%;
}
.tlacitko1 {
  background-color: #1fcca4;
}

.tlacitko2 {
  background-color: #0197f6;
}

.tlacitko1 a:hover,
a:focus {
  background-color: #1cbb96;
}

.tlacitko2 a:hover,
a:focus {
  background-color: #0090e9;
}
/*
Barva textu #ffffff.
Podkladová tmavě modrá #283e50.
Tlačítko Pravidla #1fcca4. A po najetí myši #1cbb96.
Tlačítko Začít hrát #0197f6. Po najetí #0090e9
*/

/* Pravidla => nadpis, body, instrukce, odkazy*/
.pravidla {
  background-color: #283e50;
  display: flex;
  flex-direction: column;
  border-radius: 5px 5px 0 0;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  width: 250px;
  font-size: 14px;
}

.svgpravidla {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.odrazky {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px 50px 30px 50px;
  margin: 0px;
}

.odrazky li {
  padding: 0;
  margin: 5px 0;
}

.instrukce {
  /* instukce => figure */
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-basis: 100%;
}

.instrukce img {
  width: 200px;
}

figure {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 760px) {
  .opiskvorkach {
    width: 350px;
    padding: 0;
  }
  .obrazek {
    width: 350px;
  }

  .nadpis {
    padding: 15px;
    font-size: 40px;
    font-weight: 500;
  }
  .pravidla {
    width: 500px;
  }
  .instrukce {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .instrukce figure {
    width: 150px;
  }
  figcaption {
    width: 200px;
    font-size: 12px;
    line-height: 14px;
    padding: 5px;
  }
}

@media screen and (min-width: 960px) {
  .pravidla {
    width: 500px;
  }
}

/* Hra */

.hra {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80vmin;
  color: #ffffff;
}
.hrac {
  display: flex;
  flex-wrap: nowrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.hrac img {
  margin: 10px;
  filter: invert(100%);
}
.kontejner {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
  width: 100%;
  margin: 0;
}
.deska {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}
.deska div {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.policko {
  background-color: white;
  opacity: 50%;
  width: 10%;
  height: 8vmin;
  border: 0.5px solid #283e50;
}
.ikonky {
  display: flex;
  flex-wrap: nowrap;
  width: 55px;
  justify-content: space-between;
}

.ikonky img {
  width: 15px;
  height: 15px;
  margin: 5px;
}

.home a:hover,
a:focus {
  background-color: #1cbb96;
}

.restart a:hover,
a:focus {
  background-color: #0090e9;
}
.home a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  align-items: center;
  color: #ffffff;
  background-color: #1fcca4;
  border-radius: 10%;
}

.restart a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: 100%;
  align-items: center;
  color: #ffffff;
  background-color: #0197f6;
  border-radius: 10%;
}

.policko:hover,
:focus {
  opacity: 70%;
}
