body {
  color: #ffffff;
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 40px 0 40px 0;
  display: flex;
  justify-content: center;
}

.opiskvorkach {
  display: flex;
  flex-direction: column;
  background-color: #283e50;
  width: 350px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
  padding: 0;
  border-radius: 10px 10px 0px 0px;
}
.obrazek {
  display: block;
  border-radius: 10px 10px 0px 0px;
  width: 350px;
}

.nadpis {
  font-family: 'Lobster', cursive;
  text-align: center;
  padding: 15px;
  margin: 20px 0 0 0;
  font-size: 50px;
}

.popis {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 25px;
}

.odkazy {
  list-style: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.odkazy a {
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  padding: 15px 0 15px 0;
}
.odkazy li {
  border-top: 1px solid #283e50;
}
.pravidla {
  background-color: #1fcca4;
}

.zacithrat {
  background-color: #0197f6;
}

.pravidla a:hover,
a:focus {
  background-color: #1cbb96;
}

.zacithrat a:hover,
a:focus {
  background-color: #0090e9;
}
/*
Barva textu #ffffff.
Podkladová tmavě modrá #283e50.
Tlačítko Pravidla #1fcca4. A po najetí myši #1cbb96.
Tlačítko Začít hrát #0197f6. Po najetí #0090e9
*/
